






<!--New version have already moved to the index file-->
















<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Document</title>-->
<!--    <link rel="stylesheet" href="../static/css/bootstrap5.css">-->
<!--</head>-->
<!--<body>-->
<!--    <nav class="navbar navbar-expand-lg bg-dark navbar-dark text-light fixed-top">-->
<!--        <div class="container">-->
<!--        <a href="#" class="navbar-brand">Here is a logo</a>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navmenu">-->
<!--            <ul class="navbar-nav ms-auto" >-->
<!--                <li class="nav-item"><a class="nav-link" href="{{url_for('user.login')}}">Home</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="{{url_for('user.login')}}">Commodities</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="{{url_for('shop_display.display_all')}}">Shop List</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="{{url_for('user.login')}}">Login</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="{{url_for('user.register')}}">Register</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        </div>-->
<!--    </nav>-->
<!--    <section class="p-5 bg-light text-dark text-sm-start text-center">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col">-->
<!--                    <h1 class="text-center mt-4">Deliver Anywhere!</h1>-->
<!--                    <p class="my-5 lead">&lt;!&ndash;margin-top margin-bottom&ndash;&gt;-->
<!--                        This website is a public Take-out platform which is available for both students and business merchants.-->
<!--                        Students are able to make an order to -->
<!--                        </p>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <img src="../static/Resource/上门送货服务.svg" class="ws-25 img-fluid">-->
<!--                </div>-->
<!--            </div>-->
<!--            <button class="btn btn-primary">Register Now</button>-->
<!--        </div>-->
<!--    </section>-->

<!--    <section class="bg-dark">-->
<!--        <div class="container">-->
<!--            <h1 class="text-center text-light p-5">Why Us?</h1>-->
<!--            <div class="row g-4">-->
<!--                <div class="col-md">-->
<!--                    <div class="card">-->
<!--                        <div class="card-body">-->
<!--                            <img src="../static/Resource/配送快递服务.svg" class="card-img-top img-fluid">-->
<!--                            <div class="card-title mt-2">-->
<!--                                <h3 class="text-center">Fast Delivery</h3>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md">-->
<!--                    <div class="card">-->
<!--                        <div class="card-body">-->
<!--                            <img src="../static/Resource/商品促销.svg" class="card-img-top img-fluid">-->
<!--                            <div class="card-title mt-2">-->
<!--                                <h3 class="text-center">Low Prices</h3>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md">-->
<!--                    <div class="card">-->
<!--                        <div class="card-body">-->
<!--                            <img src="../static/Resource/移动购物.svg" class="card-img-top img-fluid">-->
<!--                            <div class="card-title mt-2">-->
<!--                                <h3 class="text-center">Convenient Usage</h3>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

<!--    <section class="p-5 bg-dark">-->
<!--        <div class="container" id="register">-->
<!--            <div class="row align-items-center justify-content-between">-->
<!--                <div class="col-md">-->
<!--                    <img src="../static/Resource/购物车空空如也.svg" class="img-fluid">&lt;!&ndash;100% width auto height&ndash;&gt;-->
<!--                </div>-->
<!--                <div class="col-md p-5 text-light">-->
<!--                    <h2>Register as a user</h2>-->
<!--                    <p class="lead">-->
<!--                        Want to make an order easily? Click here and have a quick start. -->
<!--                    </p>-->
<!--                    <a href="#" class="btn btn-light">Register an User account</a>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

<!--    <section class="p-5">-->
<!--        <div class="container">-->
<!--            <div class="row align-items-center justify-content-between">-->
<!--                <div class="col-md">-->
<!--                    <img src="../static/Resource/电话取货.svg" class="img-fluid">&lt;!&ndash;100% width auto height&ndash;&gt;-->
<!--                </div>-->
<!--                <div class="col-md p-5">-->
<!--                    <h2>Have your own shop online?</h2>-->
<!--                    <p class="lead">-->
<!--                        Want to have your own shop immeadiately? Run your own business on our platform!Click here and have a quick start. -->
<!--                    </p>-->
<!--                    <a href="#" class="btn btn-dark">Register a Shop</a>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

<!--    <section class="p-5 bg-dark text-light">-->
<!--        <div class="container ">-->
<!--            <div class="row align-items-center justify-content-between">-->
<!--                -->
<!--                <div class="col-md p-5">-->
<!--                    <h2>Make pocket money on campus?</h2>-->
<!--                    <p class="lead">-->
<!--                        An opprotunity is provided for the students who would like to be a deliverer using their leisure time to make some pocket money.-->
<!--                        Register here and join us.-->
<!--                    </p>-->
<!--                    <a href="#" class="btn btn-light text-dark">Register here</a>-->
<!--                </div>-->
<!--                <div class="col-md">-->
<!--                    <img src="../static/Resource/快递送货.svg" class="img-fluid">&lt;!&ndash;100% width auto height&ndash;&gt;-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

<!--    <footer class=" p-3 bg-light text-dark text-center">-->
<!--        <div class="container">-->
<!--            <p class="lead">Developed by Bowen Zhang, Haiyi Jin</p>-->
<!--        </div>-->
<!--    </footer>-->

<!--    <script>-->
<!--    function onTopClick() {-->
<!--        window.location.hash = "#register";-->
<!--        }-->
<!--    </script>-->
<!--</body>-->
<!--</html>-->